profiles {
    TBF {
        params.qc_tool = 'trimgalore'
        params.aligner = 'bowtie2'
        params.samtools = true
        params.quantification = 'featurecounts'
    }
    TBH {
        params.qc_tool = 'trimgalore'
        params.aligner = 'bowtie2'
        params.samtools = true
        params.quantification = 'htseq'
    }
    FSF {
        params.qc_tool = 'fastp'
        params.aligner = 'star'
        params.samtools = true
        params.quantification = 'featurecounts'
    }
    FSH {
        params.qc_tool = 'fastp'
        params.aligner = 'star'
        params.samtools = true
        params.quantification = 'htseq'
    }
    TSH {
        params.qc_tool = 'trimgalore'
        params.aligner = 'star'
        params.samtools = true
        params.quantification = 'htseq'
    }
    TSF {
        params.qc_tool = 'trimgalore'
        params.aligner = 'star'
        params.samtools = true
        params.quantification = 'featurecounts'
    }
}

params {
    input = "/home/cmanda/containerised_workflow/data/rnaseq_2019.csv"
    outdir = "${projectDir}/output"
    gtf = "${projectDir}/reference/genomic_h37rv.gtf"
    genome_fasta = "${projectDir}/reference/genomic_h37rv.fna"
    lib_type = 'A'
    bowtie2_index = null
    star_index = null
    multiqc_config = "${projectDir}/multiqc_config.yaml"
    save_unaligned = false
    save_hostremoval_bam = true
    save_hostremoval_unmapped = true
    nextflow.preview.output = true
    read_type = 'paired'  
}

process {
    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].toLowerCase()}" },
        mode: 'copy',
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]
    
    // QC & Trimming processes - 4 cores, 8 GB RAM
    withName: 'TRIMGALORE' {
        cpus = 4
        memory = 8.GB
        container = "${projectDir}/containers/trim-galore_0.6.10--bc38c9238980c80e.sif"
        publishDir = [
            path: { "${params.outdir}/trimgalore" },
            mode: 'copy',
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    
    withName: 'SEQKIT_STATS' {
        cpus = 4
        memory = 8.GB
        container = "${projectDir}/containers/seqkit_2.10.0--9a5d37887d7c4e09.sif"
        publishDir = [
            path: { "${params.outdir}/seqkit" },
            mode: 'copy',
            saveAs: { filename -> filename }
        ]
        errorStrategy = 'ignore'    
    }
    
    withName: 'FASTP' {
        cpus = 4
        memory = 8.GB
        container = "${projectDir}/containers/fastp_0.23.4--b69359f46d2a8ebf.sif"
        publishDir = [
            path: { "${params.outdir}/fastp" },
            mode: 'copy',
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    
    // Alignment processes - 8 cores, 24 GB RAM
    withName: 'BOWTIE2_ALIGN' {
        cpus = 8
        memory = 24.GB
        container = "${projectDir}/containers/bowtie2_2.5.2--12e15c204b09f691.sif"
        publishDir = [
            path: { "${params.outdir}/bowtie2" },
            mode: 'copy',
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    
    withName: 'BOWTIE2_BUILD' {
        cpus = 8
        memory = 24.GB
        container = "${projectDir}/containers/bowtie2_2.5.2--12e15c204b09f691.sif"
        publishDir = [
            path: { "${params.outdir}/bowtie2_index" },
            mode: 'copy',
            saveAs: { filename -> filename }
        ]
    }
    
    withName: 'STAR_ALIGN' {
        cpus = 8
        memory = 24.GB
        container = "${projectDir}/containers/star_2.7.11b--84fcc19fdfab53a4.sif"
        publishDir = [
            path: { "${params.outdir}/star" },
            mode: 'copy',
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    
    withName: 'STAR_INDEX' {
        cpus = 8
        memory = 24.GB
        container = "${projectDir}/containers/star_2.7.11b--84fcc19fdfab53a4.sif"
        publishDir = [
            path: { "${params.outdir}/star_index" },
            mode: 'copy',
            saveAs: { filename -> filename }
        ]
    }
    
    // SAMTOOLS processes - 4 cores, 8 GB RAM (post-alignment processing)
    withName: 'SAMTOOLS_.*' {
        cpus = 4
        memory = 8.GB
        container = "${projectDir}/containers/samtools_1.19.2--fbfb56ef5299fcef.sif"
        publishDir = [
            path: { "${params.outdir}/samtools" },
            mode: 'copy',
            saveAs: { filename -> filename }
        ]
    }
    
    withName: 'SAMTOOLS_VIEW' {
        cpus = 4
        memory = 8.GB
        container = "${projectDir}/containers/samtools_1.19.2--fbfb56ef5299fcef.sif"
        publishDir = [
            path: { "${params.outdir}/samtools" },
            mode: 'copy',
            saveAs: { filename -> filename }
        ]
    }
    
    withName: 'SAMTOOLS_SORT' {
        cpus = 4
        memory = 8.GB
        container = "${projectDir}/containers/samtools_1.19.2--fbfb56ef5299fcef.sif"
        publishDir = [
            path: { "${params.outdir}/samtools" },
            mode: 'copy',
            saveAs: { filename -> filename }
        ]
    }
    
    // Quantification processes - 4 cores, 8 GB RAM
    withName: 'FEATURECOUNTS' {
        cpus = 4
        memory = 8.GB
        container = "${projectDir}/containers/subread_2.0.6--2dd2dd526de026fd.sif "
        publishDir = [
            path: { "${params.outdir}/featurecounts" },
            mode: 'copy',
            saveAs: { filename -> filename }
        ]
    }
    
    withName: 'HTSEQ_COUNT' {
        cpus = 4
        memory = 8.GB
        container = "${projectDir}/containers/htseq_2.0.3--3205f67d4c550865.sif"
        publishDir = [
            path: { "${params.outdir}/htseq" },
            mode: 'copy',
            saveAs: { filename -> filename }
        ]
    }
    withName: 'MULTIQC' {
        container = '{projectDir}/containers/multiqc_1.21--d44678e7b9933bf6.sif'
        publishDir = [
            path: { "${params.outdir}/multiqc" },
            mode: 'copy',
            saveAs: { filename -> filename }
        ]
    }
}

wave {
    enabled = false
}

apptainer {
    enabled = true
    autoMounts = true
}

report {
    enabled = true
    overwrite = true
    file = "${params.outdir}/pipeline_info/execution_report.html"
}

timeline {
    enabled = true
    overwrite = true
    file = "${params.outdir}/pipeline_info/execution_timeline.html"
}

trace {
    enabled = true
    overwrite = true
    file = "${params.outdir}/pipeline_info/execution_trace.txt"
}

dag {
    enabled = true
    overwrite = true
    file = "${params.outdir}/pipeline_info/pipeline_dag.svg"
}