manifest {
    name = 'GeneGenie'
    author = 'Your Name'
    homePage = 'https://github.com/ChipoManda/GeneGenie'
    description = 'A flexible RNA-seq analysis pipeline with multiple tool combinations - like a genie granting your gene expression wishes!'
    mainScript = 'main.nf'
    nextflowVersion = '>=23.04.0'
    version = '1.0.0'
    doi = ''
    license = 'MIT'

    
    // Additional metadata
    organization = 'Your Organization'
    defaultBranch = 'main'
    docsUrl = 'https://github.com/ChipoManda/GeneGenie'
    
    contributors = [
        [
            name: 'Chipo Manda',
            email: 'mandac@sun.ac.za',
            github: 'https://github.com/ChipoManda',
            contribution: ['author', 'maintainer'],
            affiliation: 'Stellenbosch University',
            orcid: 'https://orcid.org/0000-0000-0000-0000'
        ]
    ]
}

profiles {
    TBF {
        params.qc_tool = 'trimgalore'
        params.aligner = 'bowtie2'
        params.samtools = true
        params.quantification = 'featurecounts'
    }
    TBH {
        params.qc_tool = 'trimgalore'
        params.aligner = 'bowtie2'
        params.samtools = true
        params.quantification = 'htseq'
    }
    FSF {
        params.qc_tool = 'fastp'
        params.aligner = 'star'
        params.samtools = true
        params.quantification = 'featurecounts'
    }
    FSH {
        params.qc_tool = 'fastp'
        params.aligner = 'star'
        params.samtools = true
        params.quantification = 'htseq'
    }
    TSH {
        params.qc_tool = 'trimgalore'
        params.aligner = 'star'
        params.samtools = true
        params.quantification = 'htseq'
    }
    TSF {
        params.qc_tool = 'trimgalore'
        params.aligner = 'star'
        params.samtools = true
        params.quantification = 'featurecounts'
    }
}
params {
    input = "/home/cmanda/reference/data_set/ecoli_new/paired/ecoli_k12_paired.csv"
    outdir = "${projectDir}/output"
    gtf = "${projectDir}/reference/k12_genomic.gtf"
    genome_fasta = "${projectDir}/reference/k12_genomic.fna"
    lib_type = 'A'
    bowtie2_index = null
    star_index = null
    multiqc_config = "${projectDir}/multiqc_config.yaml"
    save_unaligned = false  // or true
    save_hostremoval_bam = true
    save_hostremoval_unmapped = true
    nextflow.preview.output = true
    read_type = 'paired'  
}

process {
    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].toLowerCase()}" },
        mode: 'copy',
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]
    
    withName: 'TRIMGALORE' {
        container = "/home/cmanda/containerised_workflow/containers/trim-galore_0.6.10--bc38c9238980c80e.sif"
        cpus = 4
        memory = '8.GB'
        time = '4.h'
        publishDir = [
            path: { "${params.outdir}/trimgalore" },
            mode: 'copy',
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: 'SEQKIT_STATS' {
        container = "/home/cmanda/containerised_workflow/containers/seqkit_2.10.0--9a5d37887d7c4e09.sif"
        publishDir = [
            path: { "${params.outdir}/seqkit" },
            mode: 'copy',
            saveAs: { filename -> filename }
        ]
        errorStrategy = 'ignore'    
    }
    withName: 'FASTP' {
        container = "/home/cmanda/containerised_workflow/containers/fastp_0.23.4--b69359f46d2a8ebf.sif"
        publishDir = [
            path: { "${params.outdir}/fastp" },
            mode: 'copy',
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
        withName: 'MULTIQC' {
        container = '/home/cmanda/containerised_workflow/containers/multiqc_1.21--d44678e7b9933bf6.sif'
        publishDir = [
            path: { "${params.outdir}/multiqc" },
            mode: 'copy',
            saveAs: { filename -> filename }
        ]
    }

    withName: 'BOWTIE2_ALIGN' {
        container = "/home/cmanda/containerised_workflow/containers/bowtie2_2.5.2--12e15c204b09f691.sif"
        publishDir = [
            path: { "${params.outdir}/bowtie2" },
            mode: 'copy',
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: 'BOWTIE2_BUILD' {
        container = "/home/cmanda/containerised_workflow/containers/bowtie2_2.5.2--12e15c204b09f691.sif"
        publishDir = [
            path: { "${params.outdir}/bowtie2_index" },
            mode: 'copy',
            saveAs: { filename -> filename }
        ]
    }
    withName: 'STAR_ALIGN' {
        container = "/home/cmanda/containerised_workflow/containers/star_2.7.11b--84fcc19fdfab53a4.sif"
        publishDir = [
            path: { "${params.outdir}/star" },
            mode: 'copy',
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: 'STAR_INDEX' {
        container = "/home/cmanda/containerised_workflow/containers/star_2.7.11b--84fcc19fdfab53a4.sif"
        publishDir = [
            path: { "${params.outdir}/star_index" },
            mode: 'copy',
            saveAs: { filename -> filename }
        ]
    }
    process {
    withName: 'SAMTOOLS_.*' {
        container = "/home/cmanda/containerised_workflow/containers/samtools_1.19.2--fbfb56ef5299fcef.sif"
        publishDir = [
            path: { "${params.outdir}/samtools" },
            mode: 'copy',
            saveAs: { filename -> filename }
        ]
    }
}
    withName: 'FEATURECOUNTS' {
        container = "/home/cmanda/containerised_workflow/containers/subread_2.0.6--2dd2dd526de026fd.sif"
        publishDir = [
            path: { "${params.outdir}/featurecounts" },
            mode: 'copy',
            saveAs: { filename -> filename }
        ]
    }
    withName: 'HTSEQ_COUNT' {
        container = "/home/cmanda/containerised_workflow/containers/htseq_2.0.3--3205f67d4c550865.sif"
        publishDir = [
            path: { "${params.outdir}/htseq" },
            mode: 'copy',
            saveAs: { filename -> filename }
        ]
    }
    withName: 'SAMTOOLS_VIEW' {
        container = "/home/cmanda/containerised_workflow/containers/samtools_1.19.2--fbfb56ef5299fcef.sif"
        publishDir = [
            path: { "${params.outdir}/samtools" },
            mode: 'copy',
            saveAs: { filename -> filename }
        ]
    }
    withName: 'SAMTOOLS_SORT' {
        container = "/home/cmanda/containerised_workflow/containers/samtools_1.19.2--fbfb56ef5299fcef.sif"
        publishDir = [
            path: { "${params.outdir}/samtools" },
            mode: 'copy',
            saveAs: { filename -> filename }
        ]
    }
    withName: 'PICARD_MARK_DUPLICATES' {
        container = "/home/cmanda/containerised_workflow/containers/picard_3.4.0--2976616e7cbd4840.sif"
        publishDir = [
            path: { "${params.outdir}/picard" },
            mode: 'copy',
            saveAs: { filename -> filename }
        ]
    }
}

wave {
    enabled = false
}

apptainer {
    enabled = true
    autoMounts = true
}

report {
    enabled = true
    overwrite = true
    file = "${params.outdir}/pipeline_info/execution_report.html"
}

timeline {
    enabled = true
    overwrite = true
    file = "${params.outdir}/pipeline_info/execution_timeline.html"
}

trace {
    enabled = true
    overwrite = true
    file = "${params.outdir}/pipeline_info/execution_trace.txt"
}

dag {
    enabled = true
    overwrite = true
    file = "${params.outdir}/pipeline_info/pipeline_dag.svg"
}

